@font-face {
  font-family: "Gibson Detroit Regular";
  src: url("./fonts/GibsonDetroit-Reg.eot");
  src: url("./fonts/GibsonDetroit-Reg.woff") format("woff"), url("./fonts/GibsonDetroit-Reg.svg#filename") format("svg");
}
@font-face {
  font-family: "Gibson Detroit Light";
  src: url("./fonts/GibsonDetroit-Light.eot");
  src: url("./fonts/GibsonDetroit-Light.woff") format("woff"), url("./fonts/GibsonDetroit-Light.svg#filename") format("svg");
}

@import url("https://rsms.me/inter/inter.css");

body {
  font-family: "Gibson Detroit Regular", "Gibson Detroit Light", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

/* this is for small screens */
@media screen and (max-width: 768px) {
  .pageGrid {
    display: grid;
    grid-gap: 12;
    background: "rgba(0, 68, 69, 0.2)";
    grid-template-rows: "auto auto 1fr 1fr auto";
    grid-template-columns: "1fr";
    grid-template-areas:
      "nav"
      "title"
      "map"
      "details"
      "footer";
  }
  .pageGrid > #map {
    grid-area: "map";
    width: 100vw;
    height: 35vh;
  }
}

/* larger screens */
@media screen and (min-width: 768px) {
  .pageGrid {
    background: rgba(0, 68, 69, 0.2);
    display: grid;
    grid-gap: 12px;
    grid-template-rows: "auto auto 1fr 1fr auto";
    grid-template-columns: "1fr 1fr";
    grid-template-areas:
      "nav nav"
      "title details"
      "map details"
      "map details"
      "footer footer";
  }

  .pageGrid > #map {
    grid-area: "map";
    min-width: 50vw;
    height: 65vh;
  }
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }